
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Radley:ital@0;1&display=swap');
.list {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.card-container {
display: flex;
justify-content: center;
padding:1vw;
margin: 1vw;
height: 150%;
background-color: #D9D9D9;
}

.textarea{
  
  width: 70%;

}
.cardorganiser{
  display: flex;
  flex-direction: row;
}
.eventimage{
 max-width: 30vw;
  max-height: 20vh;
}

.gray{
  background-color: #292929;

}

@media screen and (min-width: 601px) {
  .title{
    font-size: 1.5vw;
  }
  .textdescription{
    font-size: 1vw;
  }
}


.footer{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  background-color: #E9FDD6;
  position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}
  
.hero{
  width: 100%;
  /* height: 100vh; */
  font-family: 'Baloo 2', cursive;
font-weight: 700;
color: white;
background-image: url("https://images.pexels.com/photos/2608519/pexels-photo-2608519.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
background-repeat: no-repeat;
background-size:cover;
opacity: 80%;
}

.afftext{
  font-size: 900%;
  padding: 1vw;
}
.showcasetext{
  font-size: 400%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 5%;
  font-style: italic;
  font-family: 'Radley', serif;
}


.homepage-container{
  background-color: white;
  width: 100%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
}
.addevent-container{
  background-color: #1E1E1E;
  width: 100%;
   /* height: 100vh; */
  display: flex;
  flex-direction: column;
}
.homepage-section{
  background-color: #8B743A;
  margin: 1vh;
  padding: 1vh;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 150%;
}
.homepage-section-header{
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  font-family: 'Radley', serif;
  color: white;
  font-size: 250%;
}

.homepage-inner-area{
  display: flex;
  justify-content: space-evenly;
  margin: 5vw;
}
.textcenter{
  text-align: center;
}
.filmimg{
  width: 35%;
}
.cameraimg{
  width: 15%;
}



.addevent-header-text{
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}
.eventsubmitbutton{
  width: 30%;
  right: 0;
  position: relative;
  margin-left: 70%;
  background-color: black;
  color: white;
  font-family: 'roboto', sans-serif;
}
.eventform{
  background-color: #D9D9D9;
  padding: 3vw;
}
.form-text{
  font-weight: 700;
  margin: 0;
}
.linkbutton{
  background-color: black;
  margin: 1vw;
  padding: 0.5vw;
  border-radius: 25px;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 100%;
}
.mapimage{
  width: 100%;
}
.locationpage-info-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.mapsinfopanel{
  padding: 2vw;
  font-size: 200%;
}

.lightgray{
  background-color: #D9D9D9;
}
.white{
  color: white;
}

@media screen and (max-width: 600px) {
  .title{
    font-size: 7vw;
  }
  
  .textdescription{
    font-size: 4vw;
    
  }
  .afftext{
    font-size: 15vw;
  }
  .showcasetext{
    font-size: 10vw;
    margin-top: 20vh;
  }
  .homepage-section-header{
    font-size: 6vw;
  }
  .homepage-inner-area{
    flex-direction: column;
    
  }
  .filmimg{
    width: 100%;
  }
  .locationpage-info-container{
    flex-direction: column;
  }
 
}
